@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

:root {
  font: 400 100%/1.5 'Sniglet', cursive;
  color: white;
  background-color: #151515;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

div.center {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 100%;
  height: 50vh;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  div.center {
    height: 60vh;
  }
}

h1 {
  font-size: 4em;
  margin: 0
}

.subtitle {
  color: #888;
  font-size: 2em;
  margin: 0
}

.blink_me {
  animation: blinker 2s linear infinite;
}

#blob {
  height: 90px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotate 10s infinite;
}

#blur {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(100px);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}